.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem 3rem;  
}
.login-box{
    border-radius: 4px;
    background-color: #dce0f2a2;
    display: flex;   
    border: 1px solid rgba(0, 0, 0, 0.14)   
}

.login-imagepart{
   background-color: rgba(68, 149, 255, 0.401);
   transition: 1s;
    
}

.login-imagepart:hover{
    filter: brightness(0.7);
}
.login-imagepart .lottie{
    filter: drop-shadow(13px 5px 4px rgba(0, 0, 0, 0.514));
       transition: 1s;
       height: 600px;
}
.login-imagepart .lottie:hover{
    scale: 1.1;
}

.login-infopart{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 3rem ;   
 
}
.login-infopart h3{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
}
.login-infopart label{
     font-size:13px ;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 6px;
    color: rgba(0, 0, 0, 0.823);
    
}
.login-infopart input {
    padding: 8px 20px;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 4px;
    border: none;
    outline: none;
 
}

.login-infopart .loginbutton{
    margin-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.login-infopart .loginbutton button{
    padding: 6px 25px ;
    border-radius: 2px;
    border: none ;
    background-color: #407aff;
    color: white;
    letter-spacing: 1px;
    transition: 0.8s;
}
.login-infopart .loginbutton button:hover{
    background-color: #08142eda;
    scale: 1.06;
}
.login-infopart .forgotbox{
     margin: 16px 5px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.login-infopart .forgotbox h6{
  cursor: pointer;
}

.login-infopart .forgotbox button{
    padding: 5px 10px;
    margin-right: 6px;
     border-radius: 3px;
    border: none ;
    background-color: #407aff;
    color: white;
    letter-spacing: 1px;
    transition: 0.8s;
}
.login-infopart .forgotbox button:hover{
    background-color: #08142eda;
}

.login-infopart .signup-google{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3px;
    padding: 17px 8px;
}
.login-infopart .signup-google h6{
    font-size: 13px;
    letter-spacing: 1.5px;
}